.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header span {
  font-size: 16px;
}
.App-link {
  color: #61dafb;
}
.App-header_time {
  gap: 16px;
}
@media screen and (max-width: 991px) {
  .App-header {
    margin-bottom: 48px !important;
    align-items: unset;
    padding-top: 24px !important;
  }
  .App-header_time {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
